@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Day66WebSite.Models.Dtos.PlaneDto>


<div class="row">
    <div class="col-md-12"><h5 class="bg-black text-warning p-3">API Test - All Plane Listing</h5></div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr class="bg-warning">
                <td>name</td>
                <td>Max Weight Load Capacity</td>
                <td>Max Fuel Load Capacity</td>
                <td>Mileage / Kilometer</td>
                <td>Registration Number</td>
                <td>Manufacturing Date</td>
            </tr>
            @foreach (var planeDto in Model)
            {
                <tr>
                    <td>@planeDto.name</td>
                    <td>@planeDto.maxWeightLoadCapacity</td>
                    <td>@planeDto.maxFuelLoadCapacity</td>
                    <td>@planeDto.mileagePerKilometer</td>
                    <td>@planeDto.registrationNumber</td>
                    <td>@planeDto.manufacturingDate</td>
                </tr>
            }
        </table>
    </div>
</div>



